#videoSearch {
  width: 400px;
}
#gradientAnchors {
  font-size: 20px;
  background: linear-gradient(#ee0979, #ff6a00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#gradientAnchors:hover {

  border-radius: 100%;
  font-weight: 600;
  text-shadow: -1px 0 0 #ee0979,
        0 0 0 #ff6a00,
        0 -1px 0 #ee0979,
        -1px -1px 0 #ff6a00;;

}
.linkText:hover {
  color: white;
}


  
   