#videoSearch {
  width: 400px;
}
#gradientAnchors {
  font-size: 20px;
  background: linear-gradient(#ee0979, #ff6a00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#gradientAnchors:hover {

  border-radius: 100%;
  font-weight: 600;
  text-shadow: -1px 0 0 #ee0979,
        0 0 0 #ff6a00,
        0 -1px 0 #ee0979,
        -1px -1px 0 #ff6a00;;

}
.activeNav:hover {
  color: purple;
  text-decoration: underline;
}
   
.modal {
font-size: 12px;
}
.modal > .header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}
.modal > .content {
  width: 100%;
  padding: 10px 5px;
}
.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}

  
   